html, body {
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#pieceOfCodeChain_SS
{
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    outline:1px solid black;
}
#pieceOfCodeChain_SB
{
    display: inline-block;
    position: absolute;
    top:0;
    right: 0;
    width: 50%;
    height: 100%;
    outline:1px solid black;

}